@font-face {
    font-family: Philosopher;
    src: url("fonts/philosopher/Philosopher-Regular.ttf");
}

html
{
  width: 100%;
  height: 100%;
}

a {
    text-decoration:  none;
    color: #FE1C61;
    text-shadow: 0 0 1px white;
}

a:hover {
    color: #FE1C61;
    text-shadow: 0 0 1px white;
}

body 
{
    font-family: 'Philosopher','Segoe UI';
    min-width:600px;
    min-height:600px;
    margin: 0;
    width: 100%
    height:100%;
    background-color: #ffffff;
}

.twitter-timeline 
{
  float: right;
  max-height: 300px;
  margin-top: 10px;
  max-width: 200px;
}

a:focus, a:active, 
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: 0;
    outline : 0;
    text-decoration: none;
}

#mainMenuSection #mainMenu a:hover
{
    color: #060B03;
    border-bottom:0;
    opacity: 0.8;
    background-color: white;

}

#mainMenuSection #mainMenu a::after, #mainMenuSection #mainMenu a:before
{
    content: "";
}


#mainMenuSection
{
    min-width: 500px;
    height: 50px;    
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    background: #333333;
}

#mainMenuSection #border1 {
    border-radius: 150px 0 0 0px;
    height: 200px;
    width: 200px;
    background-color: white;
    position: absolute;
    top: 50px;
    left: 0;
}
#mainMenuSection #square1 {
    height: 200px;
    width: 200px;
    background: #333333;
    position: absolute;
    top: 50px;
    left: 0;
}

#mainMenuSection #mainMenu
{
    border-top:10px solid #333333;
    text-align:center;
    padding-bottom:7px;
    height: 28px;
}

#mainMenuSection #mainMenu a
{
    height:30px;
    background-color:#333333;
    color:#FFFFFF;
    padding:0px 10px 7px 10px;
    text-decoration: none;
    margin-right:10px;
    font-size:20px;
    border:none;
    transition-property:background-color;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}

section.posts {
    margin-top: 60px;
    width: 60%;
    margin-left: 20%;
    z-index: 900;
    text-align: justify;
    line-height: 30px;
    font-size: 20px;
}