body 
{
    font-family: 'Segoe UI';
    min-width:800px;
    min-height:600px;
    margin: 0;
    width: 100%
}

#firstsection {
  background-color: #FFFFFF;
  height: 250px;
  position: relative;;
}

#firstsection > #firstround {
/*  border-radius:50px;
  width: 300px;
  height: 120px;
  background-color: #A7D06C;
  color:white;
  font-weight: bold;
  position: absolute;
  left:70px;
  top:30px;*/
}

#firstsection > #firstround > span {
  position: absolute;
  top:40px;
  left:120px;
  width:200px;
  height:200px;
  background-image: url('../images/twitter-b.png');
  background-size: 100%;
}

#firstsection > #secondround {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top:30px;
  width:210px;
  height:210px;
  background-image: url('../images/github.png');
  background-size: 100%;
}

#firstsection > #thirdround {
  position: absolute;
  top:50px;
  right:120px;
  width:170px;
  height:170px;
  background-image: url('../images/groove.jpg');
  background-size: 100%;
}

#headerbackground {
  position: absolute;
  left: 0;
  right: 0;*/
  display: block;
  width:100%;
  height: 360px;
  max-height: 360px;
}

#headerbackground div {
  width: 100%;
  height: 100%;
  background-image:url('../images/forest1.png');
  background-repeat:no-repeat;
  background-size:cover;
}

#headercontent {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 9999;
}

#contentSection {
}

::selection 
{
    color:white;
    background:#F33088;
}

::-moz-selection 
{
    color:white;
    background:#F33088;
}

#createPostBtn
{
    box-shadow: 0px 0px 2px #68BEDE;
    background-color: #E4EFF9;
    color:#68BEDE;
    text-decoration:none;  
    display:block;
    width:180px;
    height: 50px;
    text-align:center;
    padding-top:5px;
    font-size: 20px;
}

#createPostBtn:hover
{
    text-decoration:none; 
    background-color: white;
    color: #68BEDE;
    transition-property:background-color;
    transition-duration: 0.3s;
    transition-timing-function: linear;
}

.lenaButton
{
    border:none;
    box-shadow:0 0 2px #333333;
    background-color: #F3D6E3;
    color:#333333;
    text-decoration:none;  
    display:block;
    width:180px;
    height: 50px;
    text-align:center;
    padding-top:5px;
    cursor:pointer;
    font-size: 25px;
    transition-property:background-color;
    transition-duration: 0.3s;
    transition-timing-function: linear;
}

.lenaButton:hover
{
    border:none;
    text-decoration:none; 
    background-color: #F33088;
    color: white;
}

.lenaInput
{
   border:none;
   width:300px;
   height:35px;
   box-shadow: 0 0 3px #111111;
   border-radius:5px;
   transition-property:box-shadow;
   transition-duration: 0.5s;
   transition-timing-function: linear;
   padding: 5px;
}

.lenaInput:focus
{
   box-shadow: 0 0 5px #F3006D;
}

#mainHeader
{
    height:360px;
    max-height: 360px;
    overflow: hidden;
    text-align:center;
    background-color:#F7F7F7;
    border-bottom: 1px solid #d5d2d2;
    margin:0;
    min-width: 900px;
    min-height: 360px;
}

#mainTitle
{
    cursor:pointer;
    display:block;
    margin:0 auto;
    font-size:60px;
    margin-top:150px;
    transition-property:color;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    color:white;
    background-color: rgba(255,255,255,0.2);
    min-width: 900px;

}
#mainTitle p {
  padding-top: 10px;
  padding-bottom: 20px;
  opacity: 1;
  margin:0;
}

#mainTitle:hover
{
    color:#F33088;
}

#mainMenuSection #mainMenu a:hover
{
    background-color: #ED4577;
    color: white;
    border-bottom:0;

}

#mainMenuSection #mainMenu a::after, #mainMenuSection #mainMenu a:before
{
    content: "";
}

#mainDescription
{
    display:block;
    margin:0 auto;
    font-size: 15px;
    margin-top: 20px;
    color: white;
}

#mainMenuSection
{
    margin-top:62px;
    min-width: 500px;
}

#mainMenuSection #mainMenu
{
    margin-top:12px;
    border-bottom:10px solid #333333;
    text-align:center;
    padding-bottom:7px;
}

#mainMenuSection #mainMenu a
{
    height:40px;
    background-color:#333333;
    color:white;
    padding:5px 10px 7px 10px;
    text-decoration: none;
    margin-right:10px;
    font-size:20px;
    border-radius: 1px 1px 0 0;
    color:white;
    border:none;
    transition-property:/*background-color*/;
    transition-duration: 0.3s;
    transition-timing-function: linear;
}

#createPostSection
{
    margin-left:150px;
    margin-right:20px;
    position:relative;
}

#createPostSection #mainheader, #createPostHeader
{
    margin-left:20px;
    margin-bottom:20px;
    font-weight:bold;
    font-size:30px;
    padding-bottom:5px;
}

#postTitle
{
    font-size:20px;
    padding:20px;
    margin-right:70px;
}

#postDescription
{
    font-size:20px;
    padding:20px;
    margin-right:7px;
}

#postAuthor
{
    padding:20px;
    font-size:20px;
    margin-right:45px;
}

#postContent
{
    padding:20px;
    font-size:20px;
    margin-right:35px;
}

#postContentVal
{
    width:80%;
    height: 300px;
    padding:5px;
}

#postCreateBth
{
    margin-left:22px;
}

#editor {
  margin-left:20px;
	max-height: 250px;
	height: 250px;
	background-color: white;
	border-collapse: separate; 
	border: 1px solid rgb(204, 204, 204); 
	padding: 4px; 
	box-sizing: content-box; 
	-webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset; 
	box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
	border-top-right-radius: 3px; border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px; border-top-left-radius: 3px;
	overflow: scroll;
	outline: none;
}

#voiceBtn {
  width: 20px;
  color: transparent;
  background-color: transparent;
  transform: scale(2.0, 2.0);
  -webkit-transform: scale(2.0, 2.0);
  -moz-transform: scale(2.0, 2.0);
  border: transparent;
  cursor: pointer;
  box-shadow: none;
  -webkit-box-shadow: none;
}

div[data-role="editor-toolbar"] {
   margin-left:20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-shadow: 0 0 1px #333333;
  border-radius:2px;
}

.dropdown-menu a {
  cursor: pointer;
}

input[type=text] .lenaInput
{
   border:none;
   width:300px;
   height:35px;
   box-shadow: 0 0 3px #111111;
   border-radius:5px;
   transition-property:box-shadow;
   transition-duration: 0.5s;
   transition-timing-function: linear;
   padding: 5px;
}

input[type=text] .lenaInput:focus
{
   box-shadow: 0 0 5px #F3006D;
}

footer#mainFooter
{
    border-top: 15px solid #60990F;
    text-align:center;
    padding:5px;
    background-color: #333333;
    color:white;
}

#postSection
{
    margin-left:100px;
}

#postSection #postHeader
{
    width:20%;
    height:300px;
    margin-bottom:30px;
}

#postSection #title
{
    cursor:pointer;
    text-align:left;
    font-size:35px;
    box-shadow: 2px 1px 1px  #333333;
    padding-bottom:10px;
    transition-property:color;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}

#postSection #title:hover {
    color: #F33088;
}

#postSection #description
{
    text-align:left;
    font-size:15px;
    color:#8d8d8d;
    margin-top:10px;
    font-weight:normal;
    margin-left:5px;
}

#pcontent
{
    text-align:justify;
    float:right;
    width:80%;
    margin-top:30px;
    padding-left:0px;
    padding-right:230px;
}

.clear
{
    clear:both;
}