@font-face {
    font-family: Philosopher;
    src: url("fonts/philosopher/Philosopher-Regular.ttf");
}

html
{
  width: 100%;
  height: 100%;
  min-width: 600px;
}

img, #cap, #hadoop-anatomy {
    margin: 0 auto;
    display: block;
}

a {
    text-decoration:  none;
    color: #FE1C61;
    text-shadow: 0 0 1px white;
}

a:hover {
    color: #FE1C61;
    text-shadow: 0 0 1px white;
}

blockquote {
    font-size: 18px;
    color: #999999;
}

body 
{
    font-family: 'Philosopher','Segoe UI';
    min-width:600px;
    margin: 0;
    width: 100%
    height:100%;
    background-color: #FFFFFF;
    min-width: 1000px;
}

.twitter-timeline 
{
  float: right;
  max-height: 300px;
  margin-top: 10px;
  max-width: 200px;
}

a:focus, a:active, 
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: 0;
    outline : 0;
    text-decoration: none;
}

.twitter-share-button {
    float: right;
    margin-top: 5px;
    margin-right: -10px;
}

#mainMenuSection #mainMenu a:hover
{
    color: #060B03;
    border-bottom:0;
    opacity: 0.8;
    background-color: white;

}

#mainMenuSection #mainMenu a::after, #mainMenuSection #mainMenu a:before
{
    content: "";
}


#mainMenuSection
{
    min-width: 500px;
    height: 50px;    
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    background: #333333;
}

#mainMenuSection #border1 {
    border-radius: 150px 0 0 0px;
    height: 200px;
    width: 200px;
    background-color: white;
    position: absolute;
    top: 50px;
    left: 0;
}
#mainMenuSection #square1 {
    height: 200px;
    width: 200px;
    background: #333333;
    position: absolute;
    top: 50px;
    left: 0;
}


#mainMenuSection #mainMenu
{
    border-top:10px solid #333333;
    text-align:center;
    padding-bottom:7px;
    height: 28px;
}

#mainMenuSection #mainMenu a
{
    height:30px;
    background-color:#333333;
    color:#FFFFFF;
    padding:5px 10px 7px 10px;
    text-decoration: none;
    margin-right:10px;
    font-size:20px;
    border:none;
    transition-property:background-color;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}

section.posts {
    margin-top: 80px;
    width: 60%;
    margin-left: 20%;
    z-index: 900;
    text-align: justify;
    line-height: 31px;
    font-size: 20px;
    color: #333333;
    cursor: default;
    overflow: hidden;
    min-height: 450px;
    background-color: #ffffff;
}

.imagedescr {
    color: #999999;
    margin: 1px auto 1px auto;
    font-size: 15px;
}

#hr {
    color: #222222;
}

.post {
    margin-bottom: 40px;
}

.post a {
    transition-property: text-shadow, color;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}

.post a:hover {
    color:#FE006A;
    text-shadow:0 0 1px #FE006A;
}

.post .title {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px;
    transition-property:color;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    cursor: default;
}

.post .title:hover {
    color: #FE1C61;
}

.post .description {
    border-bottom: 1px solid #E0E0E0;
    border-top: 1px solid #E0E0E0;
    padding-top: 3px;
    padding-bottom: 3px;
}

.post .date {
display: inline;
font-size: 17px;
color: #999999;
margin-right: 5px;
}

.post .keywords {
 display: inline;
 font-size: 15px;
 color: #999999;
 margin-left: 5px;
}

.post .keywords .keyword{
     background-color: #E0E0E0;
     border-radius: 3px;
     padding: 3px;
     margin-right: 7px;
     color: #333333;
     cursor: default;
     transition-property:color;
     transition-duration: 0.5s;
     transition-timing-function: linear;
}

.post .keywords .keyword:hover {
    color: #FE1C61;
}

#mainFooter {
    height: 50px;
    width: 100%;
    background-color: #333333;
    text-align: center;
    color: white;
    padding-top: 5px;
    position: relative;
}

#mainFooter.postssection {
    position: absolute;
    bottom: 0;
}

 #border3 {
    border-radius:  0px  0 150px 0 ;
    height: 200px;
    width: 200px;
    background-color: white;
}

 #square2 {
    height: 200px;
    width: 200px;
    background: #333333;
    position: absolute;
    top: -200px;
    right: 0;
    z-index: 900;
}
